.header {
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
  width: 80%;
}

@media screen and (max-width: 48rem) {
  .header {
    width: 90%;
  }
}

.sun {
  height: 5rem;
  width: 5rem;
}
