.header {
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
  width: 80%;
}

.sun {
  animation: sun-spin infinite 20s linear;
  height: 5rem;
  width: 5rem;
}

@media screen and (max-width: 48rem) {
  .header {
    width: 90%;
  }
}

@keyframes sun-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}