# See https://help.github.com/articles/ignoring-files/ and 
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# for more about ignoring files.

# dependencies
node_modules

# production
dist
.next
out

# misc
.DS_Store
.vscode