/*-- Global, Reset -----------------------------*/
@font-face {
  font-display: swap;
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 700;
  src: local('Recoleta Bold'), local('Recoleta-Bold'),
    url('/static/Recoleta-Bold.woff2') format('woff2'),
    url('/static/Recoleta-Bold.woff') format('woff');
}

:root {
  --white: white;
  --black-10: rgba(0, 0, 0, 0.1);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-80: rgba(0, 0, 0, 0.8);
  --bright-orange: #fdc82c;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  color: var(--black-80);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  line-height: 1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p,
ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

header {
  height: 13rem;
}

/*-- Atomic ------------------------------------*/
.flex-m {
  display: flex;
  flex-direction: column;
}

.bb {
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
}

.bc10 {
  border-color: var(--black-10);
}

.bc20 {
  border-color: var(--black-20);
}

.black60 {
  color: var(--black-60);
}

.fs14 {
  font-size: 1.4rem;
}

.fs16 {
  font-size: 1.6rem;
}

.fs24 {
  font-size: 2.4rem;
}

.fsi {
  font-style: italic;
}

.fw500 {
  font-weight: 500;
}

.lh {
  line-height: 1.5;
}

.m0a {
  margin: 0 auto;
}

.mr10 {
  margin-right: 1rem;
}

.pb5 {
  padding-bottom: 0.5rem;
}

.pb10 {
  padding-bottom: 1rem;
}

.pt10 {
  padding-top: 1rem;
}

.pb20 {
  padding-bottom: 2rem;
}

.pb32 {
  padding-bottom: 3.2rem;
}

.pb40 {
  padding-bottom: 4rem;
}

.pt40 {
  padding-top: 4rem;
}

.recoleta {
  font-family: 'Recoleta';
}

.w30 {
  width: 30%;
}

.w90 {
  width: 90%;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .fs36-t {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 30em) {
  .fs20-td {
    font-size: 2rem;
  }
}

@media screen and (min-width: 60em) {
  .b-d {
    border: none;
  }

  .flex-d {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-row {
    flex-direction: row;
  }

  .fs36-d {
    font-size: 3.6rem;
  }

  .fs48-d {
    font-size: 4.8rem;
  }

  .mr20-d {
    margin-right: 2rem;
  }

  .w30-d {
    width: 30%;
  }

  .w80-d {
    width: 80%;
  }
}

/*-- Other ------------------------------------*/
.celestial {
  animation: celestial-spin infinite 20s linear;
}

@keyframes celestial-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.category {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hover:hover {
  color: var(--bright-orange);
}

.bar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: fixed;
  bottom: 0;
  height: 0.8rem;
  left: 0;
  right: 0;
}

.bar :nth-of-type(1) {
  background-color: #6d69e0;
}
.bar :nth-of-type(2) {
  background-color: #80a0ed;
}
.bar :nth-of-type(3) {
  background-color: #81d4fa;
}
.bar :nth-of-type(4) {
  background-color: #fdc82c;
}
.bar :nth-of-type(5) {
  background-color: #fc8124;
}
.bar :nth-of-type(6) {
  background-color: #fb481e;
}
