:root {
  --body-margin-bottom: max(8px, env(safe-area-inset-bottom));
  --body-margin-left: max(8px, env(safe-area-inset-left));
  --body-margin-right: max(8px, env(safe-area-inset-right));
  --body-margin-top: max(8px, env(safe-area-inset-top));
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: var(--body-margin-top) var(--body-margin-right)
    var(--body-margin-bottom) var(--body-margin-left);
  max-width: 1072px;
}

main > div:first-child ~ div {
  margin-top: 16px;
}

footer {
  display: flex;
  margin: 0 var(--body-margin-right) var(--body-margin-bottom)
    var(--body-margin-left);
}

p {
  margin: 0;
}

em {
  font-family: Times, serif;
  font-size: 18px;
}

a {
  color: #000;
  text-decoration: none;
}

.quote {
  font-size: 16px;
}
